# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv/
build/
develop-eggs/
dist/
*.egg-info/
.eggs/
*.pth

# Distribution / packaging
*.tar.gz
*.whl

# Testing
.pytest_cache/
.mypy_cache/
.ruff_cache/
